<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="AElfMyGet" value="https://www.myget.org/F/aelf-project-dev/api/v3/index.json" />
  </packageSources>
  <packageSourceMapping>
    <packageSource key="AElfMyGet">
      <package pattern="Aevatar*" />
      <package pattern="MineAiFun*" />
      <package pattern="XWorkerAgent*" />
      <package pattern="TelegramWorkerAgent*" />
      <package pattern="Microsoft.Orleans.Core" />
    </packageSource>
    <packageSource key="nuget.org">
      <package pattern="Microsoft.Orleans*" />
      <package pattern="Orleans*" />
      <package pattern="Microsoft.SourceLink.*" />
      <package pattern="Microsoft.CodeAnalysis.*" />
      <package pattern="Microsoft*" />
      <package pattern="*" />
    </packageSource>
  </packageSourceMapping>
</configuration>
