receivers:
  otlp:
    protocols:
      grpc:
        endpoint: 0.0.0.0:4315
      http:

processors:
  batch:
  memory_limiter:
    check_interval: 1s
    limit_mib: 1000
    spike_limit_mib: 200
  spanmetrics:
    metrics_exporter: prometheus
    aggregation_temporality: CUMULATIVE

exporters:
  otlp:
    endpoint: "jaeger:4317"
    tls:
      insecure: true
  logging:
    verbosity: detailed
  prometheus:
    endpoint: "0.0.0.0:9090"
  elasticsearch:
    endpoints: ["elasticsearch:9200"]
    index: "aevatar-traces"

service:
  pipelines:
    traces:
      receivers: [otlp]
      processors: [batch, memory_limiter, spanmetrics]
      exporters: [otlp, elasticsearch, logging]
    metrics:
      receivers: [otlp]
      processors: [batch, memory_limiter]
      exporters: [prometheus, logging]

    logs:
      receivers: [otlp]
      processors: [batch, memory_limiter]
      exporters: [elasticsearch, logging]